<%- include('header.html')%>
    <div class="caseContainer">
        <div class="box">
            <div  class="boxContent"></div>
            <p style="color:darkseagreen" class="boxTitle">促销宝</p>
            <p style="height:45px;color:#666; background:#fff;text-align:center;font:14px '微软雅黑';line-height:45px;">让宣传变得如此简单</p>
        </div>
        <div class="box">
            <div  class="boxContent2"></div>
            <p style="color:darkseagreen" class="boxTitle">潜客互动</p>
            <p style="height:45px;background:#fff;color:#666;line-height:45px;text-align:center;font:14px '微软雅黑';line-height:45px;">将数据尽收眼底</p>
        </div>
          <div class="box">
            <div  class="boxContent3"></div>
            <p style="color:darkseagreen" class="boxTitle">聚客互动</p>
            <p style="height:45px;background:#fff;color:#666;line-height:45px;text-align:center;font:14px '微软雅黑';line-height:45px;">淘宝店也可以这样玩</p>
        </div>
          <div class="box">
            <div  class="boxContent4"></div>
            <p style="color:darkseagreen" class="boxTitle">云和互动</p>
            <p style="height:45px;background:#fff;color:#666;line-height:45px;text-align:center;font:14px '微软雅黑';line-height:45px;">商圈定位精确推广</p>
        </div>
       
        <div class="clear"></div>
    </div>
<%- include('footer.html')%>