<%- include('header.html')%>

<div class="home_area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 home_col">
                <div class="home_content animated a_fu">
                    <div class="h1">A lightweight, scalable web framework, based on koa.</div>
                    <div class="h3">Use the full ES6/7 features to develop Node.js applications.</div>
                    <div class="home_btn">
                        <a href="/doc/index.jhtml" class="home_btn default-btn hvr-shutter-out-horizontal">Getting
                            Started &nbsp;<i class="icofont icofont-long-arrow-right"></i></a>
                    </div>
                    <div id="repo">
                        <span class="h3">GitHub repo: <a target="_blank"
                                href="https://github.com/thinkkoa/thinkkoa">ThinkKoa</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 home_col">
                <div class="home_img relative text-right">
                </div>
                <div class="round_animate_wrap">
                    <div class="round_animate">
                        <div class="shape_1">
                            <span class="r_1"></span>
                            <span class="r_2"></span>
                            <span class="r_3"></span>
                            <span class="r_4"></span>
                        </div>
                        <div class="shape_2">
                            <span class="r_1"></span>
                            <span class="r_2"></span>
                            <span class="r_3"></span>
                            <span class="r_4"></span>
                        </div>
                        <div class="shape_3">
                            <span class="r_1"></span>
                            <span class="r_2"></span>
                            <span class="r_3"></span>
                            <span class="r_4"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 01. /hero_area -->

<!-- 07. service_area -->
<div class="service_area sp100" id="service">
    <div class="container">
        <div class="row service">
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/01.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>支持 ES6/7 特性</h3>
                        <p>拥抱 Node.js 8，支持99%的ES6新特性，提升20%性能.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/02.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>Koa/Express中间件</h3>
                        <p>框架可以兼容Express以及Koa的海量中间件引入使用，避免重复造轮子.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/03.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>灵活接入ORM</h3>
                        <p>使用ThinkORM或者liteQ模块，支持多种数据库，简单易用.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/04.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>约定优于配置</h3>
                        <p>更贴近于团队开发者的约定及配置，提升编程体验.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/05.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>Koa上下文</h3>
                        <p>基于Koa2的薄封装，易于使用但不改变原有特性和用法.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/06.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>命令行工具</h3>
                        <p>ThinkKoa提供命令行工具thinkkoa_cli，更敏捷快速的开发方式.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 07. /service_area -->

<!-- 08. funfact_area -->
<div class="funfact_area animated a_fu" id="fact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 counter_col clearfix">
                <div class="single_fact">
                    <div class="h1"><span class="count">100</span>K+</div>
                    <span>Download</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">5</span></div>
                    <span>Team members</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">8</span>K+</div>
                    <span>Line of codes</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">20</span>+</div>
                    <span>Solutions</span>
                </div>
            </div>
            <div class="col-md-4 counter_col clearfix">
                <div class="fun_content">
                    <div class="h3">One is an awesome framework</div>
                    <p>A Node.js Web framework dedicated to agile development.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 08. /funfact_area -->


<!-- 05. cta_area -->
<div class="home_area sp100">
    <div class="container">
        <div class="row">
            <div class="col-md-9 home_col" style="height: 359px;">
                <div class="home_content animated a_fu fadeInUp" style="opacity: 1;">
                    <div class="h1">A flexible, lightweight and powerful Object-Relational Mapper for Node.js.</div>
                    <div class="h3">Support Mysql/MariaDB, PostgresSql, SQLite3, Oracle, MSSQL.</div>
                    <div class="home_btn">
                        <a href="/orm/index.jhtml" class="home_btn default-btn hvr-shutter-out-horizontal">Getting
                            Started &nbsp;<i class="icofont icofont-long-arrow-right"></i></a>
                    </div>
                    <div id="repo"><span class="h3">GitHub repo: </span> <a target="_blank"
                            href="https://github.com/thinkkoa/thinkorm"><img height="20"
                                src="https://img.shields.io/github/stars/thinkkoa/thinkorm.svg?style=flat-square&amp;label=Star"
                                alt="github star"></a> <a target="_blank" href="https://badge.fury.io/js/thinkorm"><img
                                height="20" src="https://badge.fury.io/js/thinkorm.svg" alt="npm version"></a> </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 08. funfact_area -->
<div class="funfact_area animated a_fu" id="fact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 counter_col clearfix">
                <div class="single_fact">
                    <div class="h1"><span class="count">20</span>K+</div>
                    <span>Flexible</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">2</span></div>
                    <span>Team members</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">8</span>K+</div>
                    <span>Line of codes</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">12</span>+</div>
                    <span>Solutions</span>
                </div>
            </div>
            <div class="col-md-4 counter_col clearfix">
                <div class="fun_content">
                    <div class="h3">One is an awesome framework</div>
                    <p>A Node.js Web framework dedicated to agile development.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 08. /funfact_area -->

<!-- 05. cta_area -->
<div class="cta_area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta text-center">
                    <span>Use Typescript's decorator implement auto injection just like SpringBoot.</span>
                    <h1 class="animated a_fu" data-delay=".2s">Koatty - The next generation web framework</h1>
                    <div class="cta_btn animated a_fu" data-delay=".4s">
                        <a href="https://thinkkoa.github.io/koatty_doc/"
                            class="default-btn hvr-shutter-out-horizontal">Discover more &nbsp;<i
                                class="icofont icofont-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="scene">
        <li class="layer" data-depth="0.20">
            <img src="img/shape/shape-2.png" alt="">
        </li>
        <li class="layer" data-depth="0.40">
            <img src="img/shape/shape-1.png" alt="">
        </li>
    </ul>
</div>


<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#repo").html('<span class="h3">GitHub repo:  </span>  ' +
                '<a target="_blank" href="https://github.com/thinkkoa/thinkkoa">' +
                '<img height="20" src="https://img.shields.io/github/stars/thinkkoa/thinkkoa.svg?style=flat-square&label=Star" alt="github star"></a>  ' +
                '<a target="_blank" href="https://badge.fury.io/js/thinkkoa"><img height="20" src="https://badge.fury.io/js/thinkkoa.svg" alt="npm version"></a>  ' +
                // '<a target="_blank" href="https://travis-ci.org/thinkkoa/thinkkoa"><img height="20" src="https://travis-ci.org/thinkkoa/thinkkoa.svg?branch=master" alt="Build Status"></a>'+
                '');
        }, 2000);
    });

</script>


<%- include('footer.html')%>