<%- include('header.html')%>
    <div class="caseContainer">
        <div class="box" v-for="item in caseList">
            <div class="boxContent"></div>
            <p style="color:darkseagreen" class="boxTitle">轻量敏捷</p>
            <p style="height:45px;background:#fff;text-align:center;font:14px '微软雅黑';">this is describe</p>
        </div>
        <div class="box" v-for="item in caseList">
            <div class="boxContent"></div>
            <p style="color:darkseagreen" class="boxTitle">轻量敏捷</p>
            <p style="height:45px;background:#fff;text-align:center;font:14px '微软雅黑';">this is describe</p>
        </div>
        <div class="box" v-for="item in caseList">
            <div class="boxContent"></div>
            <p style="color:darkseagreen" class="boxTitle">轻量敏捷</p>
            <p style="height:45px;background:#fff;text-align:center;font:14px '微软雅黑';">this is describe</p>
        </div>
        <div class="box" v-for="item in caseList">
            <div class="boxContent"></div>
            <p style="color:darkseagreen" class="boxTitle">轻量敏捷</p>
            <p style="height:45px;background:#fff;text-align:center;font:14px '微软雅黑';">this is describe</p>
        </div>
        <div class="box" v-for="item in caseList">
            <div class="boxContent"></div>
            <p style="color:darkseagreen" class="boxTitle">轻量敏捷</p>
            <p style="height:45px;background:#fff;text-align:center;font:14px '微软雅黑';">this is describe</p>
        </div>
        <div class="box" v-for="item in caseList">
            <div class="boxContent"></div>
            <p style="color:darkseagreen" class="boxTitle">轻量敏捷</p>
            <p style="height:45px;background:#fff;text-align:center;font:14px '微软雅黑';">this is describe</p>
        </div>
        <div class="clear"></div>
    </div>
<%- include('footer.html')%>