<%- include('header.html')%>
<div class="content">
  <div class="wrap page-con">
      <h2 class="tith2">更新日志</h2>
        <div class="daily">
          <ul>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.2.10</strong>2017.06.23</span>
                  <p>移除框架中间件配置文件中的默认中间件配置，默认中间件配置自行在中间件内定义</p>
                </div>
              </li>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>1.0.0</strong>2017.06.06</span>
                  <p>ThinkKoa 发布 1.0 版本</p>
                </div>
              </li>
            </ul>
        </div>
        <div class="ploy">
          <h4>ThinkKoa 版本发布策略：</h4>
            <p>小版本，如：1.0.1 => 1.0.2（小功能增加，bug 修复等，向下兼容）</p>
            <p>中版本，如：1.0.0 => 1.1.0（较大功能增加，部分模块重构等，向下兼容）</p>
            <p>大版本，如：1.0.0 => 2.0.0（框架整体设计、重构等，不向下兼容）</p>
            <p>以上情况会因为一些特殊情况进行调整。</p>
        </div>
    </div>
</div>
<%- include('footer.html')%>