<%- include('header.html')%>

<div class="content doc-content">
  <div class="wrap clearfix">
      <div class="lbox doc-sidebar" id="directoryList">
        <%for(var key in sidebar){%>
        <dl>
          <dt><%-key%></dt>
            <dd>
              <%for(var name in sidebar[key]){%>
              <a href="/doc/index/doc/<%-sidebar[key][name]%>.jhtml"><%-name%></a>
              <%}%>
            </dd>
        </dl>
        <%}%>
      </div>
        <div class="rbox">
          <div class="clearfix">

            <div class="search">
              <form method="get" action="/doc/search">
                  <input class="sea-txt" value="" required name="keyword" />
                  <input class="sea-btn" type="submit" value="" />
              </form>
            </div>
            
          </div>
            <div class="doc">
                <%-markedContent%>
            </div>
        </div>
    </div>
</div>
<%- include('footer.html')%>