<!-- 13. footer -->
<footer class="footer animated a_fu" id="footer">
    <div class="footer_btm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="foo_txt">
                        <p>Powered by ThinkKoa(<%=think.version%>) &copy; Copyright 2016-<%=think.datetime('', 'yyyy')%> ThinkKoa Team, All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- 13. /footer -->
</div>



<!-- (necessary JavaScript plugins) -->
<script src="/js/bootstrap.min.js"></script>
<!-- Bootstrap -->
<script src="/js/jquery.prettyphoto.min.js"></script>
<!-- prettyphoto -->
<script src="/js/jquery.parallax.min.js"></script>
<!-- parallax -->
<script src="/js/jquery.slicknav.min.js"></script>
<!-- slicknav -->

<script src="/js/owl.carousel.min.js"></script>
<!-- owl -->
<script src="/js/waypoints.min.js"></script>
<!-- waypoints -->
<script src="/js/onepage.nav.js"></script>
<!-- one-page-nav -->
<script src="/js/counterup.min.js"></script>
<!-- Counter up -->
<script src="/js/steller.js"></script>
<!-- stellar -->
<script src="/js/active.js"></script>
<!-- active -->
</body>

</html>