<%- include('header.html')%>
<div class="home_area">
    <div class="container">
        <div class="row">
            <div class="col-md-9 home_col">
                <div class="home_content animated a_fu">
                    <div class="h1">A lightweight, scalable web framework, based on koa.</div>
                    <div class="h3">Use the full ES6/7 features to develop Node.js applications.</div>
                    <div class="home_btn">
                        <a href="#" class="home_btn default-btn hvr-shutter-out-horizontal">Getting Started &nbsp;<i class="icofont icofont-long-arrow-right"></i></a>
                    </div>
                    <div>
                        <span class="h3">GitHub repo:</span>
                        <a target="_blank" href="https://github.com/thinkkoa/thinkkoa">
                                    <img height="20" src="https://img.shields.io/github/stars/thinkkoa/thinkkoa.svg?style=flat-square&label=Star" alt="github star">
                                </a>
                        <a target="_blank" href="https://badge.fury.io/js/thinkkoa">
                                    <img height="20" src="https://badge.fury.io/js/thinkkoa.svg" alt="npm version">
                                </a>
                        <!-- <a target="_blank" href="https://travis-ci.org/thinkkoa/thinkkoa">
                                    <img height="20" src="https://travis-ci.org/thinkkoa/thinkkoa.svg?branch=master" alt="Build Status">
                                </a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3 home_col">
                <div class="home_img relative text-right">
                </div>
                <div class="round_animate_wrap">
                    <div class="round_animate">
                        <div class="shape_1">
                            <span class="r_1"></span>
                            <span class="r_2"></span>
                            <span class="r_3"></span>
                            <span class="r_4"></span>
                        </div>
                        <div class="shape_2">
                            <span class="r_1"></span>
                            <span class="r_2"></span>
                            <span class="r_3"></span>
                            <span class="r_4"></span>
                        </div>
                        <div class="shape_3">
                            <span class="r_1"></span>
                            <span class="r_2"></span>
                            <span class="r_3"></span>
                            <span class="r_4"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 01. /hero_area -->

<!-- 07. service_area -->
<div class="service_area" id="service">
    <div class="container spt100">
        <div class="row service">
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/01.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>支持 ES6/7 特性</h3>
                        <p>可以直接在项目里使用 ES6/7（Generator Function, Class, Async & Await）等特性，借助 Babel 编译，可稳定运行在 Node.js 环境上.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/02.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>Koa/Express Middleware</h3>
                        <p>框架可以兼容Express以及Koa的海量中间件引入使用，避免重复造轮子.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/03.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>支持多种数据库</h3>
                        <p>支持 Mysql、PostgreSQL、MongoDB 等常见的数据库，提供了很多简单易用、高度封装的方法. (注: 依赖ThinkOR模块及think_model中间件).</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/04.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>约定优于配置</h3>
                        <p>更贴近于团队开发者的约定及配置，提升编程体验.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/05.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>Koa上下文</h3>
                        <p>基于Koa2的薄封装，易于使用但不改变原有特性和用法，支持Koa原生的上下文及函数,又扩展了许多实用的功能.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 service_col animated a_fu">
                <div class="single_service">
                    <div class="service_icon">
                        <img src="img/icon/06.png" alt="">
                    </div>
                    <div class="service_content">
                        <h3>命令行工具</h3>
                        <p>ThinkKoa提供命令行工具thinkkoa_cli，更敏捷快速的开发方式.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 07. /service_area -->

<!-- 08. funfact_area -->
<div class="funfact_area animated a_fu" id="fact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 counter_col clearfix">
                <div class="single_fact">
                    <div class="h1"><span class="count">10</span>K+</div>
                    <span>Download</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">5</span></div>
                    <span>Team members</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">8</span>K+</div>
                    <span>Line of codes</span>
                </div>
                <div class="single_fact">
                    <div class="h1"><span class="count">20</span>+</div>
                    <span>Solutions</span>
                </div>
            </div>
            <div class="col-md-4 counter_col clearfix">
                <div class="fun_content">
                    <div class="h3">One is an awesome framework</div>
                    <p>A Node.js Web framework dedicated to agile development.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 08. /funfact_area -->

<!-- 05. cta_area -->
<div class="cta_area">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="cta text-center">
                    <span class="animated a_fu">A flexible, lightweight and powerful Object-Relational Mapper for Node.js</span>
                    <h1 class="animated a_fu" data-delay=".2s">Object-Relational Mapper for Node.js - <br>ThinkORM</h1>
                    <div class="cta_btn animated a_fu" data-delay=".4s">
                        <a href="https://github.com/thinkkoa/thinkorm" class="default-btn hvr-shutter-out-horizontal">Discover more &nbsp;<i class="icofont icofont-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="scene">
        <li class="layer" data-depth="0.20">
            <img src="img/shape/shape-2.png" alt="">
        </li>
        <li class="layer" data-depth="0.40">
            <img src="img/shape/shape-1.png" alt="">
        </li>
    </ul>
</div>
<!-- 05. /cta_area -->
<%- include('footer.html')%>